<p id="notice"><%= notice %></p>

<p>
  <strong>Bdy:</strong>
  <%= @comment.bdy %>
  <%= @comment.mac %>
  <%= @comment.mbs %>
  <%= @comment.kod %>
  <%= @comment.oran %>
  <%= @comment.durum %>

</p>


