<div class="section nomargin notopborder nobg">
<p id="notice"><%= notice %></p>

<h1>Listing Iceriks</h1>

<table>
  <thead>
    <tr>
      <th>tarih</th>
      <th>Mbs</th>
      <th>Saat</th>
      <th>Lig</th>
      <th>Kod</th>
      <th>Mac</th>
      <th>1</th>
      <th>X</th>
      <th>2</th>
      <th>1-X</th>
      <th>1-2</th>
      <th>X-2</th>
      <th>İY 1,5A</th>
      <th>İY 1,5Ü</th>
      <th>1,5 A</th>
      <th>1,5 Ü</th>
      <th>2,5 A</th>
      <th>2,5 Ü</th>
      <th>3,5 A</th>
      <th>3,5 Ü</th>
      <th>VAR</th>
      <th>YOK</th>
      <th>0-1TG</th>
      <th>2-3TG</th>
      <th>4-6TG</th>
      <th>+7 TG</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iceriks.each do |icerik| %>
      <tr>
        <td><%= icerik.tarih %></td>
        <td><%= icerik.mbs %></td>
        <td><%= icerik.saat %></td>
        <td><%= icerik.lig %></td>
        <td><%= icerik.kod %></td>
        <td><%= icerik.mac %></td>
        <td><%= icerik.oran1 %></td>
        <td><%= icerik.oran2 %></td>
        <td><%= icerik.oran3 %></td>
        <td><%= icerik.oran4 %></td>
        <td><%= icerik.oran5 %></td>
        <td><%= icerik.oran6 %></td>
        <td><%= icerik.oran7 %></td>
        <td><%= icerik.oran8 %></td>
        <td><%= icerik.oran9 %></td>
        <td><%= icerik.oran10 %></td>
        <td><%= icerik.oran11 %></td>
        <td><%= icerik.oran12 %></td>
        <td><%= icerik.oran13 %></td>
        <td><%= icerik.oran14 %></td>
        <td><%= icerik.oran15 %></td>
        <td><%= icerik.oran16 %></td>
        <td><%= icerik.oran17 %></td>
        <td><%= icerik.oran18 %></td>
        <td><%= icerik.oran19 %></td>
        <td><%= icerik.oran20 %></td>
        <td><%= link_to 'Show', icerik %></td>
        <td><%= link_to 'Edit', edit_icerik_path(icerik) %></td>
        <td><%= link_to 'Destroy', icerik, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Icerik', new_icerik_path %>
</div>