<div class="section nomargin notopborder nobg">
<p id="notice"><%= notice %></p>

<p>
  <strong>Mbs:</strong>
  <%= @icerik.tarih %>
</p>

<p>
  <strong>Mbs:</strong>
  <%= @icerik.mbs %>
</p>

<p>
  <strong>Saat:</strong>
  <%= @icerik.saat %>
</p>

<p>
  <strong>Lig:</strong>
  <%= @icerik.lig %>
</p>

<p>
  <strong>Kod:</strong>
  <%= @icerik.kod %>
</p>

<p>
  <strong>Mac:</strong>
  <%= @icerik.mac %>
</p>

<p>
  <strong>Oran1:</strong>
  <%= @icerik.oran1 %>
</p>

<p>
  <strong>Oran2:</strong>
  <%= @icerik.oran2 %>
</p>

<p>
  <strong>Oran3:</strong>
  <%= @icerik.oran3 %>
</p>

<p>
  <strong>Oran4:</strong>
  <%= @icerik.oran4 %>
</p>

<p>
  <strong>Oran5:</strong>
  <%= @icerik.oran5 %>
</p>

<p>
  <strong>Oran6:</strong>
  <%= @icerik.oran6 %>
</p>

<p>
  <strong>Oran7:</strong>
  <%= @icerik.oran7 %>
</p>

<p>
  <strong>Oran8:</strong>
  <%= @icerik.oran8 %>
</p>

<p>
  <strong>Oran9:</strong>
  <%= @icerik.oran9 %>
</p>

<p>
  <strong>Oran10:</strong>
  <%= @icerik.oran10 %>
</p>

<p>
  <strong>Oran11:</strong>
  <%= @icerik.oran11 %>
</p>

<p>
  <strong>Oran12:</strong>
  <%= @icerik.oran12 %>
</p>

<p>
  <strong>Oran13:</strong>
  <%= @icerik.oran13 %>
</p>

<p>
  <strong>Oran14:</strong>
  <%= @icerik.oran14 %>
</p>

<p>
  <strong>Oran15:</strong>
  <%= @icerik.oran15 %>
</p>

<p>
  <strong>Oran16:</strong>
  <%= @icerik.oran16 %>
</p>

<p>
  <strong>Oran17:</strong>
  <%= @icerik.oran17 %>
</p>

<p>
  <strong>Oran18:</strong>
  <%= @icerik.oran18 %>
</p>

<p>
  <strong>Oran19:</strong>
  <%= @icerik.oran19 %>
</p>

<p>
  <strong>Oran20:</strong>
  <%= @icerik.oran20 %>
</p>

<%= link_to 'Edit', edit_icerik_path(@icerik) %> |
<%= link_to 'Back', iceriks_path %>
</div>