<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
<div class="section nomargin nobg notopborder" style="padding: 80px 0 0 0;">
<div class="container ">
<div>
<div class="theTitle">
<h1>Giriş Formu</h1>
</div>
<div class="js-form-controlers">
<div class="js-form-resultss"></div>

<div class="field">
 <%= f.email_field :email, autofocus: true, autocomplete: 'email' ,required:'required',class:'form-control input-lg',placeholder:'E-Posta Adresi (*)'%>
</div>
<div class="field">
 <%= f.password_field :password, autofocus: true, autocomplete: "off" ,required:'required',class:'form-control input-lg',placeholder:'Parola (*)'%>
</div>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :Hatirla %>
    </div>
  <% end -%>
  <div class="actions">
    <%= f.submit "Giriş Yap" ,class:"button regbtn"%>
  </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</div>

</div>
</div>
<% end %>