<div class='alert alert-warning' role='alert'><h4 class='alert-heading'>Bildirim<p id="notice"><%= notice %></h4></div><br>


<% if user_signed_in? %>
  <% if current_user.email==@admin %> 
  <div class="section nomargin notopborder nobg" style="padding: 80px 0 0 0;">
    <div class="theTitle center">
    <h1>Düzenleme Aşamasındaki Kuponlar</h1>
    <hr class="red">
    <p></p>
    </div>
    <div class="container">
    <div class="theSoftBox">
    <p></p>
    
     <% if user_signed_in? %>
    <div class="container" style="margin-left: 280px;">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-list"></span>Düzenleme Aşamasındaki Kuponlar
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                           <% @onaypostadmin.each do |post| %>
                            <li class="list-group-item" style="height: 82px;">
                                <div class="checkbox">
                                    <span class="glyphicon glyphicon-check"></span>
                                    <label>
                                        <%= post.title %>
                                        <%= post.user.email %>
                                    </label>
                                </div>
                                <div class="pull-right action-buttons">
                       
                                      <%= link_to '', post, method: :delete, data: { confirm: 'Are you sure?' } ,class:'glyphicon glyphicon-trash'%>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>    
    <br>
    &nbsp;<p></p>
    </div>
    <div class="clear"></div>
    </div>
    </div>

    <div class="section nomargin notopborder nobg" style="padding: 80px 0 0 0;">
    <div class="theTitle center">
    <h1>Kayıtlı Kuponlar</h1>
    <hr class="red">
    <p></p>
    </div>
    <div class="container">
    <div class="theSoftBox">
    <p></p>
    <% if user_signed_in? %>
        <div class="container" style="margin-left: 280px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-list"></span>Kayıtlı Kuponlar
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                               <% @postadmin.each do |post| %>
                                <li class="list-group-item" style="height: 82px;">
                                    <div class="checkbox">
                                        <span class="glyphicon glyphicon-check"></span>
                                        <label>
                                            <%= post.title %>
                                            <%= post.user.email %>
                                        </label>
                                    </div>
                                    <div class="pull-right action-buttons">
                                          <%= link_to 'bu maile bakiye at', edit_post_path(post),class:"glyphicon glyphicon-pencil" %>
                                          <%= link_to '', post, method: :delete, data: { confirm: 'Are you sure?' } ,class:'glyphicon glyphicon-trash'%>
                                    </div>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <br>
    
    
    &nbsp;<p></p>
    </div>
    <div class="clear"></div>
    </div>
    </div>
  
  
  
    <div class="section nomargin notopborder nobg" style="padding: 80px 0 0 0;">
    <div class="theTitle center">
    <h1>oynanmış Kuponlar</h1>
    <hr class="red">
    <p></p>
    </div>
    <div class="container">
    <div class="theSoftBox">
    <p></p>
    
        <div class="container" style="margin-left: 280px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-list"></span>Kayıtlı Kuponlar
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                               <% @selam.each do |post| %>
                                <li class="list-group-item" style="height: 82px;">
                                    <div class="checkbox">
                                        <span class="glyphicon glyphicon-check"></span>
                                        <label>
                                            <%= post.title %>
                                            <%= post.user.email %>
                                        </label>
                                    </div>
                                    <div class="pull-right action-buttons">
                                          <%= link_to '', post ,class:'glyphicon glyphicon-search'%>
                                          <%= link_to '', post, method: :delete, data: { confirm: 'Are you sure?' } ,class:'glyphicon glyphicon-trash'%>
                                    </div>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <br>
    
    
    &nbsp;<p></p>
    </div>
    <div class="clear"></div>
    </div>
    </div>
  
  
  
  
     <div class="section nomargin notopborder nobg" style="padding: 80px 0 0 0;">
    <div class="theTitle center">
    <h1>Üyeler</h1>
    <hr class="red">
    <p></p>
    </div>
    <div class="container">
    <div class="theSoftBox">
    <p></p>
    <% if user_signed_in? %>
        <div class="container" style="margin-left: 280px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-list"></span>Kayıtlı Kuponlar
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                               <% @uyeler.each do |user| %>
                                <li class="list-group-item" style="height: 82px;">
                                    <div class="checkbox">
                                        <span class="glyphicon glyphicon-check"></span>
                                        <label>
                                           <%= user.email %>
                                        </label>
                                    </div>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <br>
    &nbsp;<p></p>
    </div>
    <div class="clear"></div>
    </div>
      <%= link_to 'Kendine Bakiye at', new_post_path %>
    </div>
  
  <% else %>
  <%# ADMİN -%>
  
   

    <div class="section nomargin notopborder nobg" style="padding: 80px 0 0 0;">
    <div class="theTitle center">
    <h1>Düzenleme Aşamasındaki Kuponlarım</h1>
    <hr class="red">
    <p></p>
    </div>
    <div class="container">
    <div class="theSoftBox">
    <p></p>
    <% if user_signed_in? %>
        <div class="container" style="margin-left: 280px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-list"></span>Düzenlenen Kuponlar
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                               <% @posts.each do |post| %>
                                <li class="list-group-item" style="height: 82px;">
                                    <div class="checkbox">
                                        <span class="glyphicon glyphicon-check"></span>
                                        <label>
                                            <%= post.title %>
                                            
                                        </label>
                                    </div>
                                    <div class="pull-right action-buttons">
                                          <%= 'SHA224 Kupon id:'%><%= rand(500..2500) %><%=post.id%>
                                          <%= link_to '', post ,class:'glyphicon glyphicon-search'%>
                                          <%= link_to '', post, method: :delete, data: { confirm: 'Are you sure?' } ,class:'glyphicon glyphicon-trash'%>
                                    </div>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <br>
    &nbsp;<p></p>
    </div>
    <div class="clear"></div>
    </div>
    </div>


     <div class="section nomargin notopborder nobg" style="padding: 80px 0 0 0;">
    <div class="theTitle center">
    <h1>Kayıtlı Kuponlarım</h1>
    <hr class="red">
    <p></p>
    </div>
    <div class="container">
    <div class="theSoftBox">
    <p></p>
    <% if user_signed_in? %>
        <div class="container" style="margin-left: 280px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-list"></span>Kayıtlı Kuponlar
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                               <% @Postsduzen.each do |post| %>
                                <li class="list-group-item" style="height: 82px;">
                                    <div class="checkbox">
                                        <span class="glyphicon glyphicon-check"></span>
                                        <label>
                                            <%= post.title %>
                                            
                                        </label>
                                    </div>
                                    <div class="pull-right action-buttons">
                                          <%= 'SHA224 Kupon id:'%><%= rand(500..2500) %><%=post.id%>
                                          <%= link_to '', post ,class:'glyphicon glyphicon-search'%>
                                          <%= link_to '', post, method: :delete, data: { confirm: 'Are you sure?' } ,class:'glyphicon glyphicon-trash'%>
                                    </div>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <br>
    &nbsp;<p></p>
    </div>
    <div class="clear"></div>
    </div>
    </div>
        



    <div class="section nomargin notopborder nobg" style="padding: 80px 0 0 0;">
    <div class="theTitle center">
    <h1>Oynanmış Kuponlarım</h1>
    <hr class="red">
    <p></p>
    </div>
    <div class="container">
    <div class="theSoftBox">
    <p></p>
    
     <% if user_signed_in? %>
    <div class="container" style="margin-left: 280px;">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-list"></span>Oynanmış Kuponlar
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                           <% @onayPosts.each do |post| %>
                            <li class="list-group-item" style="height: 82px;">
                                <div class="checkbox">
                                    <span class="glyphicon glyphicon-check"></span>
                                    <label>
                                        <%= post.title %>
                                    </label>
                                </div>
                                <div class="pull-right action-buttons">
                                      <%= 'SHA224 Kupon id:'%><%= rand(500..2500) %><%=post.id%>
                                      <%= link_to '', post ,class:'glyphicon glyphicon-search'%>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>    

    
    <br>
    &nbsp;<p></p>
    </div>
    <div class="clear"></div>
    </div>
    </div>


  <% end %>
<% end %> 

<div class="section nomargin notopborder" style="background: #008dcf;
			background: -webkit-linear-gradient(140deg, #43d282, #008dcf);
			background: linear-gradient(140deg, #43d282, #008dcf); padding: 80px 0;">
<div class="container clearfix">

<div class="col_half ">

<div class="col_one_third ">
<a class="theBox" href="/home/nasil_uye_olunur">

<h1>Nasıl Üye Olurum?</h1>
 
<p>5 saniyede nasıl üye olacağınızı buradan öğrenin.</p></a>


</div>


<div class="col_one_third" href="/home/kuponlari_nasil_gorurum">
<a class="theBox">

<h1>Kayıtlı Kuponları Nasıl Görürüm?</h1>
<p>Paketler arası nasıl geçiş yapılır buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/iade_sartlari">

<h1>Kuponları Nasıl Görürüm?</h1>
<p>Kuponlarını nasıl göreceğini buradan öğren.</p>
</a>
</div>

</div>


<div class="col_half col_last nomargin">

<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>İade Şartlarınız Nelerdir?</h1>
<p>100% Geri ödeme garantili şartlarımızı buradan öğren.</p>
</a>
</div>


<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>Nasıl Ödeme Yapabilirim?</h1>
<p>Ödemeleri nasıl yapacağını buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/kullanim_kosullari">
<h1>Kullanım Koşulları</h1>
<p>Kullanım koşullarımızı buradan öğren.</p>
</a>
</div>

</div>

</div>
</div>

